<!DOCTYPE html>
<html>
<head>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../isset/style.css">
    <link rel="stylesheet" href="../isset/FontAwesome/css/all.css">

</head>
<body>
<style>
    .dropbtn {
        background-color: #4CAF50;
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
        cursor: pointer;
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .dropdown-content a:hover {background-color: #f1f1f1}

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .dropdown:hover .dropbtn {
        background-color: #3e8e41;
    }

    html {
        position: relative;
        min-height: 100%;
    }

    .footer {
        position: absolute;
        bottom: 0;
        height: 50px;
        width: 100%;
        background: #000000;
        color: #FFFFFF;
    }
</style>
<nav id="main-container">
    <div id="container-navbar">
        <div class="row nav">
            <div class="col-md nav-pages">
                <ul class="navbar-list">
                    <li><a class="nav-link" href="categories.php">Categories</a></li>
                    <li><a class="nav-link" href="#">About us</a></li>
                    <li><a class="nav-link" href="#">Contact us</a></li>
                </ul>
            </div>
            <div class="col-md nav-pages">
                <a class="nav-link" href="home.php" style="font-size: 25px"><i class="fab fa-accusoft"></i></a>
            </div>
            <div class="col-md nav-pages">
                <ul class="login-list">
                    <div class="dropdown">
                        <li><a href="#" class="login-button nav-link">Sign up</a></li>
                        <div class="dropdown-content">
                            <form class="px-4 py-3">
                                <div class="form-group">
                                    <label for="exampleDropdownFormEmail1">Email address</label>
                                    <input type="email" class="form-control" id="exampleDropdownFormEmail1" placeholder="email@example.com">
                                </div>
                                <div class="form-group">
                                    <label for="exampleDropdownFormPassword1">Password</label>
                                    <input type="password" class="form-control" id="exampleDropdownFormPassword1" placeholder="Password">
                                </div>
                                <div class="form-group">
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="dropdownCheck">
                                        <label class="form-check-label" for="dropdownCheck">
                                            Remember me
                                        </label>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary">Sign in</button>
                            </form>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">New around here? Sign up</a>
                            <a class="dropdown-item" href="#">Forgot password?</a>
                        </div>
                    </div>
                    <div class="dropdown">
                        <li><a href="#" class="login-button nav-link">Login</a></li>
                        <div class="dropdown-content">
                            <form class="px-4 py-3">
                                <div class="form-group">
                                    <label for="exampleDropdownFormEmail1">Email address</label>
                                    <input type="email" class="form-control" id="exampleDropdownFormEmail1" placeholder="email@example.com">
                                </div>
                                <div class="form-group">
                                    <label for="exampleDropdownFormPassword1">Password</label>
                                    <input type="password" class="form-control" id="exampleDropdownFormPassword1" placeholder="Password">
                                </div>
                                <div class="form-group">
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="dropdownCheck">
                                        <label class="form-check-label" for="dropdownCheck">
                                            Remember me
                                        </label>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary">Sign in</button>
                            </form>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">New around here? Sign up</a>
                            <a class="dropdown-item" href="#">Forgot password?</a>
                        </div>
                    </div>
                </ul>
            </div>
        </div>
    </div>
</nav>


<div id="container-cat">
    <div class="categories-block">
        <a href="">
            <img src="../isset/img/banner1.jpg" class="cat-banner" alt="tees">
            <div class="middle">
                <div class="cat-name">Tees</div>
            </div>
        </a>
    </div>
    <div class="categories-block">
        <a href="#">
            <img src="../isset/img/banner2.png" class="cat-banner" alt="pants">
            <div class="middle">
                <div class="cat-name">Pants</div>
            </div>
        </a>
    </div>
    <div class="categories-block">
        <a href="">
            <img src="../isset/img/banner3.jpg" class="cat-banner" alt="shoes">
            <div class="middle">
                <div class="cat-name">Shoes</div>
            </div>
        </a>
    </div>
    <div class="categories-block">
        <a href="">
            <img src="../isset/img/banner4.jpg" class="cat-banner" alt="sweats">
            <div class="middle">
                <div class="cat-name">Sweats</div>
            </div>
        </a>
    </div>
</div>

<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                Test
            </div>
        </div>
    </div>
</footer>




</body>
</html>
